<div class="container">
  <div style="padding:5px">
      <nav class="navbar navbar-light bg-light">
          <span class="navbar-brand mb-0 h1">On Boarding app</span>
          <span><i class="material-icons" style="font-size:36px; margin-right: 5px;">account_circle</i>{{adminName}}</span>
      </nav>
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link" routerLink="onboard-students">Onboarding Form</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="onboarded-students">Student's List</a></li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>